<% layout('./boilerplate') -%>

<link rel="stylesheet" href="/css/results.css" />
<link rel="stylesheet" href="/css/loader.css" />

<h1>Spotify Now</h1>
<button class="btn logout">Logout</button>
<h2>Hi <%= user.username %></h2>
<button class="getAlbums">Get Albums</button>
<button class="getPlaylists">Get Playlists</button>
<input type="search" name="q" id="search" placeholder="Search" />
<div>
    <input type="radio" name="searchType" id="track" value="track" checked />
    <label for="tracks">Tracks</label>
    <input type="radio" name="searchType" id="artist" value="artist" />
    <label for="artists">Artists</label>
</div>
<ul class="search_results"></ul>

<div id="floatingBarsG">
    <div class="blockG" id="rotateG_01"></div>
    <div class="blockG" id="rotateG_02"></div>
    <div class="blockG" id="rotateG_03"></div>
    <div class="blockG" id="rotateG_04"></div>
    <div class="blockG" id="rotateG_05"></div>
    <div class="blockG" id="rotateG_06"></div>
    <div class="blockG" id="rotateG_07"></div>
    <div class="blockG" id="rotateG_08"></div>
</div>
<div class="spotifyEmbededPlayerWrapper">
    <span class="arrow"></span>
    <iframe
        class="spotifyEmbededPlayer"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media"
    ></iframe>
</div>
<script src="/js/1_components.js"></script>
<script src="/js/2_functions.js"></script>
<script src="/js/3_script.js"></script>
