<% layout('./boilerplate') -%>

<link rel="stylesheet" href="/css/results.css" />
<h1>Spotify Now</h1>
<h2>Hi <%= user.display_name %></h2>
<button class="getAlbums">Get Albums</button>
<button class="getPlaylists">Get Playlists</button>
<input type="search" name="q" id="search" placeholder="Search Songs" />
<ul class="search_results"></ul>
<button class="loadMoreBtn">Load More</button>
<script src="/js/1_components.js"></script>
<script src="/js/2_functions.js"></script>
<script src="/js/3_script.js"></script>
