<% layout('./boilerplate') -%>

<h1>Spotify Now</h1>
<h2>Hi <%= user.display_name %></h2>

<input type="search" name="q" id="search" placeholder="Search Songs/Albums" />
<ul class="search_results">
    <li>1</li>
</ul>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const $search = document.getElementById('search');

    function getCookie(name) {
        var pair = document.cookie.match(new RegExp(name + '=([^;]+)'));
        return !!pair ? pair[1] : null;
    }

    $search.addEventListener('input', (e) => {
        const url = new URL('https://api.spotify.com/v1/search');
        const config = {
            method: 'GET',
            mode: 'cors', // no-cors, *cors, same-origin
            headers: {
                Authorization: `Bearer ${decodeURI(
                    getCookie('access_token')
                ).slice(1, -1)}`,
                Accept: 'application/json',
                'Content-Type': 'application/json',
            },
        };
        params = {
            q: e.target.value,
            type: 'track',
        };

        url.search = new URLSearchParams(params).toString();

        fetch(url, config)
            .then((response) => response.json())
            .then((data) => {
                data.tracks.items.map((track) => {
                    console.log(
                        track.name,
                        track.album.name,
                        track.album.artists[0].name
                    );
                });
            })
            .catch((e) => {
                console.log(e);
            });
    });
</script>
