<% layout('./boilerplate') -%>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
    rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
    rel="stylesheet"
/>
<link rel="stylesheet" href="/css/start.css" />

<h1>Spotify <span class="now">now!</span></h1>
<form method="GET" action="/login">
    <button class="btn login">Login</button>
</form>
