:root {
    --main_color: #19e68c;
}

body {
    background-color: var(--main_color);
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
}

.login {
    background-color: var(--background-base, #ffffff);
    color: var(--text-base, #000000);
    border-radius: 500px;
    font-size: inherit;
    padding: 14px 32px;
    border: none;
    font-weight: 700;
}

.login:hover {
    transform: scale(1.04);
}

h1 {
    font-size: 48px;
}

header {
    background-color: #000000;
    text-align: left;
}

.now {
    font-family: 'Yellowtail', cursive;
    text-transform: uppercase;
}

.logo {
    font-size: 30px;
    color: var(--main_color);
    /* align vertical */
}

footer {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--main_color);
    background-color: #000;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
