body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    max-width: 100%;
}

ul.search_results {
    marker: none;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fiLL, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
}

.result.trackName {
    font-size: 18;
}

.result.artistName {
    font-size: 18;
    font-weight: 600;
}

.result.albumName {
    font-size: 16;
    color: grey;
    font-weight: 100;
}

.li_result {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px px gray;
}

.result_wrap {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition: 200ms transform ease-out;
    border-radius: 10px;
}

.result_wrap:hover,
.result_wrap:focus {
    text-decoration: underline;
    transform: scale(1.1);
}

.result_wrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.playlistArt,
.albumArt {
    max-width: 80%;
}

.loadMoreBtn {
    color: #fff;
    background-color: #19e68c;
    border-radius: 500px;
    font-size: inherit;
    padding: 14px 32px;
    border: none;
    font-weight: 700;
    margin-bottom: 50px;
}

.loadMoreBtn:hover {
    transform: scale(1.04);
}

button:disabled,
button[disabled] {
    background-color: #0f8a55;
    color: #666666;
}
