body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    max-width: 100%;
}

ul.search_results {
    marker: none;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, min(300px, 75vw));
    justify-content: center;
}

.result.trackName {
    font-size: 18;
}

.result.artistName {
    font-size: 18;
    font-weight: 600;
}

.result.albumName {
    font-size: 16;
    color: grey;
    font-weight: 100;
}

.li_result {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px px gray;
}

.result_wrap {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition: 200ms transform ease-out;
    border-radius: 10px;
}

.result_wrap:hover,
.result_wrap:focus {
    text-decoration: underline;
    transform: scale(1.1);
}

.result_wrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.playlistArt,
.albumArt,
.artistPhoto {
    max-width: 80%;
}

.artistPhoto {
    border-radius: 100%;
}

.loadMoreBtn {
    color: #fff;
    background-color: #19e68c;
    border-radius: 500px;
    font-size: inherit;
    padding: 14px 32px;
    border: none;
    font-weight: 700;
}

.loadMoreBtn:hover {
    transform: scale(1.04);
}

button:disabled,
button[disabled] {
    background-color: #0f8a55;
    color: #666666;
}

.spotifyEmbededPlayerWrapper {
    width: 100%;
    position: fixed;
    bottom: 0%;
    margin-bottom: 0;
    padding-bottom: 0;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        white 5%,
        white 70%,
        black 100%
    );
}

.spotifyEmbededPlayer {
    width: 100vw;
    height: 80px;
    transition: height 225ms ease;
}

.openList {
    height: 300px;
}
.arrowWrapper {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    background: linear-gradient(to bottom, transparent 0%, white 30%);
    transition: transform 200ms ease;
}
.arrow {
    display: inline-block;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 5px;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 200ms ease;
    transform: rotate(-135deg) translateY(-25%);
}
.open {
    transform: rotate(45deg) translateY(-50%);
}
.arrowWrapper:hover {
    transform: scale(1.2) translateY(-5px);
}

.btnDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    margin: 0.5em 1em;
}

.searchDiv input[type='search'] {
    display: block;
    margin-bottom: 5px;
}
